<h1>Georgetown MiM Stats</h1>
<br>
<center><img src="images/MiM-2-Cohort-Class-Profile-1200w.png" alt="2020 Cohort" width="600" class="center"></center>
<br>
<center><img src="images/MSB_Alumni_F_F_Map-1024x635.png" alt="Cohort Origin Map" width="600" class="center"></center>
