<h1>Welcome to MiM 2022</h1>

<center><h3>This is our team</h3></center>
<center><img src="images/IMG_9680.jpg" alt="Our Team" class="img" width="400"></center>
<center><p>From left to right: Lilly, Katya, Lola and Rica</p></center>


