
<h1>Stocks Form</h1>

<h4>Request any stock data to see this awesome functionality we learned in Internet Business Technologies...</h4>

<form action="/stocks/dashboard" method="POST">

    <label>Stock Symbol:</label>
    <input type="text" name="symbol" placeholder="MSFT" value="MSFT">
    <br>

    <label>Risk Tolerance:</label>
    <select name="risk_level">
        <option value="high">High</option>
        <option value="medium">Medium</option>
        <option value="low">Low</option>
    </select>
    <br>

    <button>Submit</button>
</form>
